html, body{
    letter-spacing: 0.2px;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #ffffff;
}
nav{
    display: flex;
    backdrop-filter: blur(8px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), inset 0 4px 20px rgba(255, 255, 255, 0.3);
    border-radius: 999px;
    padding: 16px 24px 16px 32px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
}
.nav-btn{
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.2px;
    font-size: 16px;
    background-color: rgba(232, 232, 232, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(8px) saturate(180%);
    padding: 16px 28px 16px 28px;
    font-weight: 500;
    border-radius: 999px;
}
.nav-btn:hover {
    background-color: rgba(200, 200, 200, 0.8);
    cursor: pointer; 
}
.nav-btn.active{
    color: white;
    background-color: rgba(0, 136, 255, 0.8);
}

.logo{
    display: flex;
    height: 24px;
    margin-right: 24px;
}
#logo{
    object-fit: contain;
    align-items: center;
}
.navigation{
    display: flex;
    gap: 16px;
}


.main-gallery{
    margin: auto;
    width: 80%;
    line-height: 1.5;
}

.main-gallery h1{
    margin: 160px 0 24px 0;
}

.gallery{
    margin: 0px 0 100px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
}
.gallery-card{
    border-radius: 16px;
    width: 24%;
    height: 12rem;
    overflow: hidden;
}

#gallery-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}
#gallery-img:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.footer{
    display: flex;
    flex-direction: column;
    background-color: #f5f5f7;
    padding: 24px;
    align-items: center;
}
.footerup, .footerdown{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
#heading16b{
    font-weight: bold;
}
#x-icon{
    margin: 0;
    padding: 0;
    height: 32px;
}
#heading16l{
    color: #747479;
}
.footerdivider{
    border: 0;
    height: 1px;
    background-color: #747479;
    width: 80%;
}
.footerdownleft{
    display: flex;
    gap: 32px;
}

a{
    text-decoration: none;
    color: #747479;
}

a:hover{
    text-decoration: underline;
}