html, body{
    margin: 0;
    padding: 0;
    letter-spacing: 0.2px;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #ffffff;
}
nav{
    display: flex;
    backdrop-filter: blur(8px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), inset 0 4px 20px rgba(255, 255, 255, 0.3);

    border-radius: 999px;
    padding: 16px 24px 16px 32px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
}
.nav-btn{
    letter-spacing: 0.2px;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    background-color: rgba(232, 232, 232, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(8px) saturate(180%);
    padding: 16px 28px 16px 28px;
    font-weight: 500;
    border-radius: 999px;
}
.nav-btn:hover {
    background-color: rgba(200, 200, 200, 0.8);
    cursor: pointer; 
}

.nav-btn.active{
    color: white;
    background-color: rgba(0, 136, 255, 0.8);
}

.logo{
    display: flex;
    height: 24px;
    margin-right: 24px;
}
#logo{
    object-fit: contain;
    align-items: center;
}
.navigation{
    display: flex;
    gap: 16px;
}


.main{
    margin: auto;
    width: 80%;
    line-height: 1.5;
}

#desc{
    text-align: center;
}
#slogan{
    font-size: 64px;
    font-weight: bold;
    margin-top: 160px;
    margin-bottom: 16px;
}
#slogan1{
    font-size: 20px;
    margin: 0;
    line-height: 1.5;
}
.announcement{
    margin: 100px 0 48px 0;
}

#announcementbtn-primary{
    letter-spacing: 0.2px;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(8px) saturate(180%);
    padding: 16px 24px 16px 24px;
    border-radius: 999px;
}
#announcementbtn-primary:hover{
    background-color: rgba(20, 20, 20, 0.8);
    cursor: pointer; 
}



.event{
    margin:48px 0 48px 0;
}

.card-grid{
    display: flex;
    width: 100%;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.card{
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f5f5f7;
    border-radius:24px;
    overflow: hidden;
    padding: 24px;
}

.card-img{
    width: 100%;
    height: 200px;
    border-radius: 1rem;
    overflow: hidden;
}


#cardimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body p{
    margin: 0.5em 0 0.5em 0;
}

.card-body h3{
    margin: 1em 0 0 0;
}


#cardbtn-primary{
    letter-spacing: 0.2px;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    font-size: 16px;
    background-color: rgba(232, 232, 232, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(8px) saturate(180%);
    padding: 16px 24px 16px 24px;
    border-radius: 999px;
}
#cardbtn-primary:hover{
    background-color: rgba(200, 200, 200, 0.8);
    cursor: pointer; 
}

#cardbtn-secondary{
    letter-spacing: 0.2px;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    margin-left: 12px;
    color: #ffffff;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(8px) saturate(180%);
    padding: 16px 24px 16px 24px;
    border-radius: 999px;
}

#cardbtn-secondary:hover{
    background-color: rgba(20, 20, 20, 0.8);
    cursor: pointer; 
}


.workshop{
    margin:48px 0 48px 0;
}



.beamember{
    width: 100%;
    margin: 100px 0 100px 0;
}
.membercard{
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: #f5f5f7;
    border-radius: 24px;
    padding: 16px 100px 16px 100px;
    overflow: hidden;
}
.membercard-left{
    display: flex;
    flex-direction: column;
    width: 50%;
}
#membercard-heading{
    font-size: 32px;
    padding-left: 0;
    font-weight: bold;
    margin: 0;
}
#membercard-link{
    letter-spacing: 0.2px;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    border: 0;
    padding-left: 2px;
    background: none;
    color: rgb(0, 136, 255);
    font-size: 16px;
    margin: 0;
}
#membercard-link:hover {
    text-decoration: underline;
    cursor: pointer;
}
.membercard-right{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 50%;
    overflow: hidden;
}
#membercardimg{
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}








.footer{
    display: flex;
    flex-direction: column;
    background-color: #f5f5f7;
    padding: 24px;
    align-items: center;
}
.footerup, .footerdown{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
#heading16b{
    font-weight: bold;
}
#x-icon{
    margin: 0;
    padding: 0;
    height: 32px;
}
#heading16l{
    color: #747479;
}
.footerdivider{
    border: 0;
    height: 1px;
    background-color: #747479;
    width: 80%;
}
.footerdownleft{
    display: flex;
    gap: 32px;
}

a{
    text-decoration: none;
    color: #747479;
}

a:hover{
    text-decoration: underline;
}