:root{
    /* font size */
    --base-font-size: 16px;

    /* colors */
    --blue: rgb(0, 136, 255);
    --bg-grey: rgb(245, 245, 247);
    --white: rgb(255, 255, 255);
    --text-black: rgb(29, 29, 31);
    --text-grey-dark: rgb(116, 116, 121);
    --text-grey-light: rgb(142, 142, 147);
}    

/* dark mode */
body.dark-mode {
    background-color: rgb(0, 0, 0);
    --blue: rgb(0, 145, 255);
    --bg-grey: rgb(29, 29, 31);
    --white: rgb(245, 245, 247);
    --text-black: rgb(245, 245, 247);
    --text-grey-dark: rgb(174, 174, 178);
    --text-grey-light: rgb(200, 200, 205);
}
     
       
       body {
      margin: 0;
    padding: 0;
    letter-spacing: 0.2px;
    line-height: 1.5;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: var(--text-black);
    }


     .navbar{
  padding: 8px 32px 8px 32px;
  padding-left: 10%;
  padding-right: 10%;
  backdrop-filter: blur(8px) saturate(180%);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), inset 0 -4px 20px rgba(255, 255, 255, 0.3);
  position: sticky;
  z-index: 4;
  top: 0;
  display: flex;
  justify-content: space-between;
 }

 body.dark-mode .navbar{
  box-shadow:  none;
 }



 .backtohome, .contactus{
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  letter-spacing: 0.2px;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-weight: 600;
    color: var(--blue);
 }

 .backtohome:hover, .contactus:hover{
  text-decoration: underline;
  cursor: pointer;
 }

 .logo-main{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }

    .logo-main:hover{
      cursor: pointer;
    }

    .logo-secondary{
      letter-spacing: 0.2px;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
      font-size: 18px;
      font-weight: 600;
      margin: 0;
      padding: 0;
    }


    .logo {
      height: 32px;
      width: 32px;
    }

    #logo-img{
      width: 100%;
      object-fit: cover;
    }

    .backtohome-contactus{
      display: flex;
      gap: 16px;
    }




.hero2{
    padding: 48px 0 100px 0;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.hero2 h1{
    font-size: 32px;
    text-align: center;
    padding-bottom: 0;
}
.hero2 p{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

.hero3{
  width: 100%;
  display: flex;
  flex-direction: column;
}



    .hero3 .section-title {
      font-size: 17px;
      text-align: left;
      margin: 16px 0 16;
    }

    .statement p{
        font-size: 16px;
        text-align: left;
        font-weight: 400;
    }







/* footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-grey);
    color: var(--text-grey-dark);
    padding: var(--spacing-normal);
}

.footer-section{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.footer-heading-small{
    color: var(--text-black);
    font-weight: bold;
}

#x-icon{
    margin: 0;
    padding: 0;
    height: 32px;
}

#x-icon:hover{
    cursor: pointer;
}

.footer-hr{
    width: 80%;
    border: 0;
    height: 1px;
    background-color: var(--text-grey-dark);
}

.footer-down-left{
    display: flex;
    gap: 32px;
}

.footer-link{
    text-decoration: none;
    color: var(--text-grey-dark);
}

.footer-link:hover{
    text-decoration: underline;
}
