form{
    line-height: 1.5;
    width: 40%;
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2), inset 0 4px 20px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px) saturate(180%);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    padding: 2.4rem;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.avatar{
    border-radius: 100%;
    width: 8rem;
    height: 8rem;
    overflow: hidden;
}
#avatarimg{
    width: 100%;
    object-fit: cover;
}

#form-heading{
    font-size: 32px;
    font-weight:600;
    margin: 1rem 0 1rem 0;
}

hr{
    border: 0;
    height: 1px;
    background-color: rgb(0, 0, 0, 0.2);
    width: 100%;
}

label{
    font-size: 20px;
    font-weight: 500;
}

.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.emailpass{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0 1rem 0;
}

input[type=email], input[type=password] {
    padding: 12px 20px;
    margin: 8px 0;
    background-color: rgba(232, 232, 232, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 999px;
    font-size: 16px;
}

.checkbox-option{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 1rem 0 1rem 0;
}
input[type=checkbox]{
    font-size: 20px;
    width: 17px;
    height: 17px;
}

.loginaction-btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 1rem 0;
}


#login-btn{
    color: white;
    font-size: 20px;
    padding: 12px 100px;
    margin: 8px 0;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px) saturate(180%);
    border-radius: 999px;
    cursor: pointer;
}

#login-btn:hover{
    background-color: rgba(20, 20, 20, 0.8);
    cursor: pointer; 
}

#cancel-btn{
    font-size: 20px;
    padding: 12px 80px;
    background-color: rgba(232, 232, 232, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(8px) saturate(180%);
    margin: 8px 0;
    border-radius: 999px;
    cursor: pointer;
}
#cancel-btn:hover{
    background-color: rgba(200, 200, 200, 0.8);
    cursor: pointer; 
}

.lastoptions{
    display: flex;
    flex-direction: column;
    margin: 1rem 0 1rem 0;
    align-items: center;
    gap: 0.2rem;
}

#loginoptions-btn{
    font-size: 20px;
    font-weight: 600;
    margin: auto;
    border: 0;
    background: none;
    color: rgb(0, 136, 255);
    cursor: pointer;
    font-size: 16px;
}
#loginoptions-btn:hover{
    text-decoration: underline;
    text-underline-position:below;
}
